---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Word Game">
	<main class="min-w-full flex items-center flex-col gap-8 mt-8">
        <a href="/game">Wordle</a>
		<h1 class="text-3xl text-green-600">Probability Game</h1>
        <p>
            Start a new game or review the rules.
        </p>
        <div>
            <a href="/game">GAME</a>
            <a href="/rules">RULES</a>
        </div>
        <button>Game</button>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
