---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Word Game">
	<main class="min-w-full flex items-center flex-col gap-8 mt-8">
        <a href="/game">Wordle</a>
        <h1 class="text-3xl text-green-600">Word Game</h1>
        <p class="pb-4 text-2xl">
            Wavelength Web Clone

        </p>
        <p class="pb-4 text-2xl">
            How to play:
        </p>
        <p>
            Choose who is player one and player two
        </p>
        <p>
            Player one closes their eyes while player two preps the round
        </p>
        <p>
            To prep the round, player two first selects the random prompt button,
            then selects the random answer range. Player two then thinks of something
            that they feel accurately fits the prompt and the number and tells player one their unique prompt.
        </p>
        <p>
            Player two then hides the number
            and player one can open their eyes and guesses a number they think accurately fits the prompt and Player
            twos matching prompt.
        </p>
        <p>
            "Wavelength" is a unique and engaging party game designed to test players' understanding of their teammates' thought processes and perceptions. In this game, players split into teams and take turns being the "psychic" who must give a clue to guide their teammates towards a target hidden on a spectrum. The spectrum can be anything from "hot-cold," "loud-quiet," or "good-bad," depending on the card drawn.
        </p>
        <p>
            Teams must then discuss and decide where they believe the target falls on the spectrum based on the clue given. The closer they are to the correct answer, the more points they earn. However, the challenge lies in interpreting the vague and subjective clues provided by the psychics, which can lead to hilarious and surprising results.
        </p>
        <p>
            Overall, "Wavelength" is a game that fosters communication, intuition, and teamwork, making it an excellent choice for gatherings and parties where players can enjoy lively discussions and friendly competition.</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
